{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "extensios": [
          ".js",
          ".ios.js",
          ".android.js"
        ]
      }
    ]
  ]
}